[Desktop Entry]
Name=Sandboxy
GenericName=Voxel Game
Comment=Multiplayer infinite-world block sandbox game
Comment[de]=Blockbasierte Mehrspieler-Spieleplattform
Comment[fr]=Plate-forme de jeu multijoueurs à base de blocs
Exec=sandboxy
Icon=sandboxy
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
Categories=Game;Simulation;
StartupNotify=false
StartupWMClass=Luanti
Keywords=game;sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;
